.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loadingAnimation{
    position: relative;
    transform: scale(1);
    top: 300px;
    z-index: 999;
    margin-bottom: 100vh;

}

@media screen and (max-width: 810px){
    .loadingAnimation{
        transform: scale(0.67);
      }
}