.ldg-pg,
.ldgWrp {
    overflow-y: hidden;
    display: flex;

}

.brandBig,
.ldg-pg,
.ldgDsc,
.ldgWrp {
    display: flex;
}

.brandBig,
.brandFB1,
.brandFB2,
.ldg-pg,
.ldgWrp {
    top: 0;
    position: relative;

}

.brandBig,
.subTtl,
.ttlDsc {
    text-align: center;
}

.ldg_left, .ldg_right {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 50vw;

}

.ldg_right {
    align-items: center;
    padding-right: 200px;
    width: 50vw;
}

.ldg_left {

    padding-left: 200px;
    width: 50vw;
}

.ilusFig {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.ilus {
    width: 685px;
}


.spacer {
    background-image: url(/public/svg/SVG/wave-intro.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: block;
    aspect-ratio: 960/300;

}

/* @font-face {
    font-family: "Lucida Sans";
    src: url(/public/font/LSANS.TTF);
}

@font-face {
    font-family: "I pixel u";
    src: url(/public/font/I-PIXEL-U.TTF);
}

@font-face {
    font-family: "Segoe UI";
    src: url(/public/font/SEGOEUI.TTF);
} */

.ldg-pg {
    left: 0px;
    padding-bottom: 100px;
    align-items: center;
    justify-content: center;
}

.ldgWrp {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    left: 0px;
    width: 100vw;
    overflow-x: hidden;
    padding-bottom: 100px;
    height: 100vh;
    top: 180px;
}

.ldgSect {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}

.brandBig {
    flex-direction: column;
    font-size: 80px;
    margin: 0 0 50px 0px;
    width: 353px;
    align-items: flex-start;
    justify-content: center;
}

.brandFB1 {
    left: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #707070;
}

.brandFB2 {
    left: 0;
    font-family: "I pixel u", Tahoma, Geneva, Verdana, sans-serif;
    color: #e95460;
    transform: translate(12.5px, 5px);
}

.ldgDsc {
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0px;
    margin-bottom: 50px;
}

.ldgBkdrop,
.ldgFg {
    position: relative;
    align-items: center;
    display: flex;
}

.subTtl {
    position: relative;
    color: #1a1a2e;
    font-family: I pixel u;
    font-size: 26px;
    top: 0px;
    letter-spacing: 0;

}

.ttlDsc {
    position: relative;
    color: #1a1a2e;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    width: 30vw;
    text-align: left;
}

.ldgFg {
    justify-content: center;
    left: 0;
    top: 0px;
    margin: 0 15px 0 0px;
}

.logo {
    width: 134px;
}

.brandBig,
.ldgDsc,
.ldgFg,
.ldgReg {
    z-index: 5;
}

.brand_top, .brand_bott {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.brand_top {
    margin: 0 0 0px 0;
    height: 100px;
}

.brand_bott {

    width: 400px;
    justify-content: flex-start;
    margin-top: 0px;
}

.bkdrop {
    width: 900px;
}

.regBtn, .innerBtn, .regBtnAnim {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 80;
    background-image: linear-gradient(to right, #E94560 0, #133661 100%);
    /* background-color: #141f3b; */
    outline: none;
    border: none;
    border-radius: 80vw;
    font-family: "Lucida Sans";
    font-size: 30px;
    color: #141f3b;
    transition: 0.3s ease-out;
    cursor: pointer;
    top: 0px;
    transform: translate(0px, 0);
    position: relative;
}

.regBtnAnim {
    animation: gradient 1.5s infinite ease-out;
    background-image: none;
    background-color: #133661;
}

.regBtnAnim:hover {
    transform: scale(1.1);
}

@keyframes gradient {

    /* 0%{background-image: linear-gradient(to right, #E94560 0%, #1a1a2e 100%);}
    50%{background-image: linear-gradient(to right, #1a1a2e 0%, #e94560 100%);} */
    0% {
        background-color: #133661;
    }

    25% {
        background-color: #1C487D;
    }

    50% {
        background-color: #e95460;
    }

    75% {
        background-color: #9F3648;
    }
}

.innerBtn {
    aspect-ratio: 27/8;
    width: 270px;
    background-color: #fff;
    background-image: none;
    border-radius: 80vw;
    margin: 5px 0px 5px 0px;
}

.btnWrp {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0px;
    left: 0px;
    position: relative;
}

@media screen and (max-width: 1566px) {
    .ilus {
        width: 500px;
    }

    .ldg_left {
        padding-left: 150px;
    }

    .ldg_right {
        padding-right: 150px;
    }

    .innerBtn {
        font-size: 27px;
        width: 240px;
    }

    .logo {
        width: 90px;
    }

    .brandBig {
        font-size: 60px;

    }

    .subTtl {
        font-size: 19px;
    }

    .brand_top {
        height: 80px;
    }
}


@media screen and (max-width: 1366px) {
    .bkdrop {
        width: 750px;
    }

    .innerBtn {
        font-size: 21px;
        width: 180px;
    }

    .ilus {
        width: 400px;
    }

    .ldg_left {

        padding-left: 100px;
    }

    .ldg_right {
        padding-right: 50px;
    }

    .ttlDsc {
        font-size: 22px;
    }


}


@media screen and (max-width: 960px) {
    .ilus {
        width: 370px;
    }

    .ttlDsc {
        font-size: 19px;
    }


}

@media screen and (max-width: 810px) {
    .ldgSect {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        top: 0px;
    }

    .ldgWrp {
        padding-top: 0px;
        top: 120px;
        align-items: center;
        height: 100%;
    }

    .ldg_left {
        align-items: center;
        padding-left: 0px;
        margin-bottom: 0px;
        width: 80vw;
    }

    .ldg_right {
        padding-right: 0px;
        margin-bottom: 50px;
        width: 80vw;
    }

    .brandBig {
        align-items: center;
    }

    .brand_bott {
        justify-content: center;
    }

    .ttlDsc {
        width: 60vw;
        font-size: 25px;
        text-align: center;
    }

    .innerBtn {
        width: 240px;
        font-size: 27px;
    }

    .ilus{
        margin-top: 20px;
    }

}

@media screen and (max-width: 478px){
    
    .ldgWrp{
        width: 100%;
        left: 0px;
    }

    .ttlDsc{
        width: 80vw;
        font-size: 22px;
    }

    .innerBtn{
        width: 210px;
        font-size: 24px;
    }
}